<section>
    <div id="accordion" class="accordion max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20">
        <div class="accordion-item">
            <h2 class="accordion-question">Как осуществляется доставка правильного питания?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-question">Я буду есть одно и то же?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-question">Какие продукты Вы используете?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-question">Когда Вы готовите?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-question">Как и в чем приезжает еда?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-question">Можно ли менять время доставки\место?</h2>
            <div class="accordion-answer">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi sapiente nisi autem delectus id ratione labore sit voluptate veritatis iste blanditiis odio nam tenetur, accusantium eveniet eius cumque tempore est neque. Beatae iure esse tempora consequuntur possimus dicta pariatur quod nobis vitae nulla ratione numquam nemo aperiam labore id dolores voluptatibus, harum excepturi accusantium libero iste distinctio! Magni, qui tenetur quae voluptate eveniet ratione quia laborum, tempore voluptatem deleniti iste tempora totam assumenda. Esse minus blanditiis eveniet beatae ducimus cumque natus reprehenderit iure? Dolores natus quo corrupti aliquid ex magni, veritatis, possimus fugiat doloremque tempore iusto quis pariatur alias aliquam!
            </div>
        </div>
    </div>
</section>