<div class="swiper h-90 xl:h-207.75">
    <div class="swiper-wrapper">
        <div class="swiper-slide">   
            <div class="flex flex-col xl:h-175 justify-center max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="pt-22 xl:pt-26 pl-22.5 xl:pl-0 z-10">
                    <h1 class="text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Detox программа –</h1>
                    <div class="text-green-400 text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa inline-block tracking-wide">вкусное очищение</div>
                    <div class="text-lg xl:text-40px leading-[1.13] -mt-1.25 xl:mt-0 font-bold mb-2.5 xl:mb-4 font-comfortaa tracking-wide">организма</div>
                    <div class="text-xs xl:text-xl mb-6 xl:mb-9 pl-0.75 xl:pl-0 max-w-42 xl:max-w-full ">8 бутылочек <span class="text-green-400">натуральных</span> смузи и фрешей.</div>
                    <div class="flex xl:gap-8 items-start xl:items-end flex-col xl:flex-row">
                        <button class="bg-green-400 text-base xl:text-26px leading-[1] font-comfortaa text-bold text-blue-100 rounded-4xl py-2.5 px-8.25 xl:py-4.25 xl:px-18 mb-2.5 xl:mb-1 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xs xl:text-xl  mb-0.5 xl:mb-0">Пробный день всего:</span>
                            <span class="text-lg xl:text-35px leading-[1.13] font-bold text-green-400">427 грн</span>
                        </div>
                    </div>
                </div>
                <div class="border-17 xl:border-38 border-blue-100 rounded-full shadow-lg size-77 xl:size-175 absolute -right-2.75 xl:-right-58 top-11.5 xl:top-15 overflow-hidden">
                    <img src="./assets/img/banner-2.png" class="size-68.5 xl:size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex flex-col xl:h-175 justify-center max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="xl:pt-26 z-10">
                    <h1 class="text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Detox программа –</h1>
                    <div class="text-green-400 text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa inline-block tracking-wide">вкусное очищение</div>
                    <div class="text-lg xl:text-40px leading-[1.13] font-bold mb-2.5 xl:mb-4 font-comfortaa tracking-wide">организма</div>
                    <div class="text-xs xl:text-xl mb-6 xl:mb-3">8 бутылочек <span class="text-green-400">натуральных</span> смузи и фрешей.</div>
                    <div class="flex xl:gap-8 items-start xl:items-end flex-col xl:flex-row">
                        <button class="bg-green-400 text-base xl:text-26px leading-[1] font-comfortaa text-bold text-blue-100 rounded-4xl py-2.5 px-8.25 xl:py-4.25 xl:px-18 mb-2.5 xl:mb-0 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xs xl:text-xl xl:pt-6 mb-0.5 xl:mb-0">Пробный день всего:</span>
                            <span class="text-lg xl:text-35px leading-[1.13] font-bold text-green-400">427 грн</span>
                        </div>
                    </div>
                </div>
                <div class="border-17 xl:border-38 border-blue-100 rounded-full shadow-lg size-68.5 xl:size-175 absolute right-0 xl:-right-58 top-0 xl:top-15 overflow-hidden">
                    <img src="./assets/img/banner-2.png" class="size-68.5 xl:size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex flex-col xl:h-175 justify-center max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="xl:pt-26 z-10">
                    <h1 class="text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Detox программа –</h1>
                    <div class="text-green-400 text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa inline-block tracking-wide">вкусное очищение</div>
                    <div class="text-lg xl:text-40px leading-[1.13] font-bold mb-2.5 xl:mb-4 font-comfortaa tracking-wide">организма</div>
                    <div class="text-xs xl:text-xl mb-6 xl:mb-3">8 бутылочек <span class="text-green-400">натуральных</span> смузи и фрешей.</div>
                    <div class="flex xl:gap-8 items-start xl:items-end flex-col xl:flex-row">
                        <button class="bg-green-400 text-base xl:text-26px leading-[1] font-comfortaa text-bold text-blue-100 rounded-4xl py-2.5 px-8.25 xl:py-4.25 xl:px-18 mb-2.5 xl:mb-0 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xs xl:text-xl xl:pt-6 mb-0.5 xl:mb-0">Пробный день всего:</span>
                            <span class="text-lg xl:text-35px leading-[1.13] font-bold text-green-400">427 грн</span>
                        </div>
                    </div>
                </div>
                <div class="border-17 xl:border-38 border-blue-100 rounded-full shadow-lg size-68.5 xl:size-175 absolute right-0 xl:-right-58 top-0 xl:top-15 overflow-hidden">
                    <img src="./assets/img/banner-2.png" class="size-68.5 xl:size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex flex-col xl:h-175 justify-center max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="xl:pt-26 z-10">
                    <h1 class="text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Detox программа –</h1>
                    <div class="text-green-400 text-lg xl:text-40px leading-[1.13] font-bold font-comfortaa inline-block tracking-wide">вкусное очищение</div>
                    <div class="text-lg xl:text-40px leading-[1.13] font-bold mb-2.5 xl:mb-4 font-comfortaa tracking-wide">организма</div>
                    <div class="text-xs xl:text-xl mb-6 xl:mb-3">8 бутылочек <span class="text-green-400">натуральных</span> смузи и фрешей.</div>
                    <div class="flex xl:gap-8 items-start xl:items-end flex-col xl:flex-row">
                        <button class="bg-green-400 text-base xl:text-26px leading-[1] font-comfortaa text-bold text-blue-100 rounded-4xl py-2.5 px-8.25 xl:py-4.25 xl:px-18 mb-2.5 xl:mb-0 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xs xl:text-xl xl:pt-6 mb-0.5 xl:mb-0">Пробный день всего:</span>
                            <span class="text-lg xl:text-35px leading-[1.13] font-bold text-green-400">427 грн</span>
                        </div>
                    </div>
                </div>
                <div class="border-17 xl:border-38 border-blue-100 rounded-full shadow-lg size-68.5 xl:size-175 absolute right-0 xl:-right-58 top-0 xl:top-15 overflow-hidden">
                    <img src="./assets/img/banner-2.png" class="size-68.5 xl:size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-navigation w-45 h-6 flex items-center xl:justify-center absolute bottom-0 left-30 xl:left-1/2 xl:-translate-x-1/2 z-10">
        <div class="swiper-pagination flex items-center justify-center ">
        </div>
        <div class="swiper-button-prev">
            <svg>
                <use href='#icon-left-arrow' />
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg>
                <use href='#icon-right-arrow' />
            </svg>
        </div>
    </div>
</div>
<div class="flex justify-center ">
    <svg width="14" height="14" viewBox="0 0 14 14"  style="transform:rotate(0deg)">
        <circle r="5" cx="50%" cy="50%" fill="transparent" stroke="#ff0000" stroke-width="2"></circle>
        <circle r="5" cx="50%" cy="50%" stroke="#000000" stroke-width="2" stroke-dashoffset="1.25rem"
            fill="transparent" stroke-dasharray="2.7475rem"></circle>
    </svg>

</div>