<div class="swiper">
    <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="flex flex-col h-175 justify-center max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="pt-26">
                    <h1 class="text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Detox программа –</h1>
                    <div class="text-green-400 text-40px leading-[1.13] font-bold font-comfortaa inline-block tracking-wide">вкусное очищение</div>
                    <div class="text-40px leading-[1.13] font-bold mb-4 font-comfortaa tracking-wide">организма</div>
                    <div class="text-xl mb-3">8 бутылочек <span class="text-green-400">натуральных</span> смузи и фрешей.</div>
                    <div class="flex gap-8 items-end">
                        <button class="bg-green-400 text-26px leading-[1] font-comfortaa text-bold text-blue-100 rounded-4xl py-4.25 px-18 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xl pt-6">Пробный день всего:</span>
                            <span class="text-35px leading-[1.13] font-bold text-green-400">427 грн</span>
                        </div>
                    </div>
                </div>
                <div class="border-38 border-blue-100 rounded-full shadow-lg size-175 absolute -right-58 top-15 overflow-hidden">
                    <img src="./assets/img/banner-2.png" class="size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="flex flex-col h-175 justify-center  max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="pt-17">
                    <h1 class="text-40px leading-[1.13] font-bold font-comfortaa tracking-wide">Сервис правильного</h1>
                    <div class="text-40px leading-[1.13] font-bold font-comfortaa tracking-wide"> питания.</div>
                    <div class="text-green-400 text-40px leading-[1.13] font-bold font-comfortaa mb-10 inline-block tracking-wide">Худей быстро!</div>
                    <div class="flex gap-7.5 items-end">
                        <button class="bg-green-400 text-2xl font-comfortaa text-bold text-blue-100 rounded-4xl py-3.5 px-19.25 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="text-xl">Пробный день</span>
                            <span class="text-4xl leading-[1.13] font-bold text-green-400">-30%</span>
                        </div>
                    </div>
                </div>
                <div class="border-38 border-blue-100 rounded-full shadow-lg size-175 absolute -right-58 top-15 overflow-hidden">
                    <img src="./assets/img/banner-1.png" class="size-175 object-cover object-center rounded-full" alt="banner">
                </div>
            </div>
        </div>
       
        <div class="swiper-slide">
            <div
                class="flex flex-col h-175 justify-center  max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="max-w-119">
                    <h1 class="text-40px leading-[1.13] font-bold font-comfortaa">Сервис правильного питания.</h1>
                    <span class="text-green-400 text-40px leading-[1.13] font-bold font-comfortaa mb-10 inline-block">Худей
                        быстро!</span>
                    <div class="flex gap-7.5">
                        <button
                            class="bg-green-400 text-2xl font-comfortaa text-bold text-blue-100 rounded-4xl py-3.5 px-19.25 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="font-comfortaa text-xl">Пробный день</span>
                            <span class="text-40px leading-[1.13] font-bold text-green-400">-30%</span>
                        </div>
                    </div>
                </div>
                <div
                    class="border-38 border-blue-100 rounded-full shadow-lg size-175 absolute -right-58 top-15 overflow-hidden">
                    <img src="./assets/img/banner-1.png" class="size-175 object-cover object-center rounded-full"
                        alt="banner">
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div
                class="flex flex-col h-175 justify-center  max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20 relative">
                <div class="max-w-119">
                    <h1 class="text-40px leading-[1.13] font-bold font-comfortaa">Сервис правильного питания.</h1>
                    <span class="text-green-400 text-40px leading-[1.13] font-bold font-comfortaa mb-10 inline-block">Худей
                        быстро!</span>
                    <div class="flex gap-7.5">
                        <button
                            class="bg-green-400 text-2xl font-comfortaa text-bold text-blue-100 rounded-4xl py-3.5 px-19.25 cursor-pointer hover:shadow-xl shadow-green-400 transition duration-250 ease-in">Заказать</button>
                        <div class="flex flex-col">
                            <span class="font-comfortaa text-xl">Пробный день</span>
                            <span class="text-40px leading-[1.13] font-bold text-green-400">-30%</span>
                        </div>
                    </div>
                </div>
                <div
                    class="border-38 border-blue-100 rounded-full shadow-lg size-175 absolute -right-58 top-15 overflow-hidden">
                    <img src="./assets/img/banner-1.png" class="size-175 object-cover object-center rounded-full"
                        alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>