<header>
    <div class="flex items-center max-w-6xl w-full text-justify ml-auto mr-auto pl-15 pr-15">
        <a href="index.html" class="flex flex-col items-center gap-1.5 relative 
                                    before:absolute 
                                    before:-z-10
                                  before:bg-blue-100
                                    before:rounded-full
                                    before:h-66
                                    before:w-66 
                                    before:left-1/2
                                    before:top-1/2
                                    before:-translate-1/2
                                    before:shadow-md
                                    ">
            <img src="./assets/img/logo.png" alt="logo">
            <p class="text-sm">healthy ration</p>
        </a>
        <nav>
            <a href="#" class=" hover:bg-red-400 hover:text-amber-300 active:bg-green-600">Програмы питания</a>
            <a href="#" class=" hover:bg-red-400 hover:text-amber-300 active:bg-green-600">Бизнес-ланчи</a>
            <a href="#" class=" hover:bg-red-400 hover:text-amber-300 active:bg-green-600">Gastro Shop</a>
            <a href="#" class=" hover:bg-red-400 hover:text-amber-300 active:bg-green-600">О нас</a>
            <a href="#" class=" hover:bg-red-400 hover:text-amber-300 active:bg-green-600">Блог</a>
        </nav>
        <a href="tel:+380689494919">+38 (068) 949 - 49 -19</a>
        <nav>
            <a href="#">ru</a>
            <a href="#" class="bg-green-500">ua</a>
            <a href="#">en</a>
        </nav>
    </div>
</header>