<header>
    <div class="flex items-center max-w-6xl w-full text-justify ml-auto mr-auto pl-20 pr-20 relative">
        <a href="index.html" class="flex flex-col items-center gap-1.5 relative z-10 before:absolute before:-z-10 before:bg-blue-100 before:rounded-full before:size-66 before:left-1/2 before:top-1/2 before:-translate-1/2 before:shadow-md">
            <img src="./assets/img/logo.png" alt="logo">
            <p class="text-sm">healthy ration</p>
        </a>
        <nav class="flex bg-blue-100 py-1.5 -ml-5 pl-20 pr-5 shadow-md rounded-4xl mx-5">
            <a href="#" class="text-sm px-5 py-2.5 hover:text-green-400">Програмы питания</a>
            <a href="#" class="text-sm px-5 py-2.5 hover:text-green-400">Бизнес-ланчи</a>
            <a href="#" class="text-sm px-5 py-2.5 hover:text-green-400">Gastro Shop</a>
            <a href="#" class="text-sm px-5 py-2.5 hover:text-green-400">О нас</a>
            <a href="#" class="text-sm px-5 py-2.5 hover:text-green-400">Блог</a>
        </nav>         
        <a href="tel:+380689494919" class="hover:border-blue-100 hover:text-blue-100 hover:bg-green-400 text-green-400 border-3 border-blue-100 rounded-4xl px-6.75 py-2.25 font-bold text-xl bg-blue-100 shadow-md">+38 (068) 949 - 49 -19</a>
        <nav class="absolute top-28 left-84 flex gap-3.75">
            <a href="#" class="bg-green-400 text-blue-300 shadow-md size-8.75 rounded-full flex items-center justify-center text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">ru</a>
            <a href="#" class="bg-blue-100 shadow-md size-8.75 rounded-full flex items-center justify-center text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">ua</a>
            <a href="#" class="bg-blue-100 shadow-md size-8.75 rounded-full flex items-center justify-center text-[15px] uppercase hover:bg-green-400 hover:text-blue-300">en</a>
        </nav>
    </div>
</header>