
<nav class="flex flex-col items-start gap-12.5 min-w-17.5 fixed left-15 top-1/2 -translate-y-1/2 z-30">
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-calories' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Claories</span>
    </a>
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-bottle' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Water</span>
    </a>
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-carrot' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Vegetables</span>
    </a>
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-fish' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Fish</span>
    </a>
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-meat' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Meat</span>
    </a>
    <a href="#" class="flex items-center w-17.5 hover:w-auto hover:text-green-400 bg-blue-100 shadow-lg rounded-full group">
        <svg class="block w-17.5 h-17.5">
            <use href='#icon-table' />
        </svg>
        <span class="hidden group-hover:block text-2xl ml-4 mr-9.5">Top - 5</span>
    </a>
</nav>
