<div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20">
    <h2 class="text-5xl">Programs</h2>
    <div class="max-w-2xl xl:max-w-6xl w-full ml-auto mr-auto pl-5 xl:pl-19.5 pr-5 xl:pr-20">
    <h2 class="text-5xl">Programs</h2>
    <div>
        <nav>
            <button class="btn" data-id="content-1">button 1</button>
            <button class="btn" data-id="content-2">button 2</button>
            <button class="btn" data-id="content-3">button 3</button>
        </nav>
        <div>
            <aside id="content-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi modi rerum quo iusto fuga deserunt quam ratione ipsa vero non a laboriosam unde, dolorem harum at. At facilis corrupti enim consequatur, architecto eveniet veniam tempora eligendi optio eaque laboriosam culpa possimus, ratione, asperiores rem soluta iure corporis minima et quo dolor accusamus unde exercitationem id! Eius quas architecto pariatur modi dignissimos eveniet perspiciatis consequuntur. Et repellendus saepe quo? Error suscipit reiciendis nulla, temporibus blanditiis voluptates culpa magnam illo cumque amet nihil dolorem ipsam, natus ipsum quibusdam sed et id rerum velit facere. Ab perferendis vero fugit accusamus cupiditate animi.</aside>
            <aside id="content-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi modi rerum quo iusto fuga deserunt quam ratione ipsa vero non a laboriosam unde, dolorem harum at. At facilis corrupti enim consequatur, architecto eveniet veniam tempora eligendi optio eaque laboriosam culpa possimus, ratione, asperiores rem soluta iure corporis minima et quo dolor accusamus unde exercitationem id! Eius quas architecto pariatur modi dignissimos eveniet perspiciatis consequuntur. Et repellendus saepe quo? Error suscipit reiciendis nulla, temporibus blanditiis voluptates culpa magnam illo cumque amet nihil dolorem ipsam, natus ipsum quibusdam sed et id rerum velit facere. Ab perferendis vero fugit accusamus cupiditate animi.</aside>
            <aside id="content-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi modi rerum quo iusto fuga deserunt quam ratione ipsa vero non a laboriosam unde, dolorem harum at. At facilis corrupti enim consequatur, architecto eveniet veniam tempora eligendi optio eaque laboriosam culpa possimus, ratione, asperiores rem soluta iure corporis minima et quo dolor accusamus unde exercitationem id! Eius quas architecto pariatur modi dignissimos eveniet perspiciatis consequuntur. Et repellendus saepe quo? Error suscipit reiciendis nulla, temporibus blanditiis voluptates culpa magnam illo cumque amet nihil dolorem ipsam, natus ipsum quibusdam sed et id rerum velit facere. Ab perferendis vero fugit accusamus cupiditate animi.</aside>
        </div>
    </div>
</div>

</div>
