.burger.is-active .burger__icon {
    transform: rotate(45deg);
    top: 7px;
}

.burger.is-active .burger__icon:after {
    /* opacity: 0; */
    top: 0;
    transform: rotate(-90deg);
}

.burger.is-active .burger__icon:before {
    top: 0px;
    transform: rotate(-90deg);
    left: 0;
    width: 100%;
}

.burger__icon-wrapper {
    width: 25px;
    position: relative;
    height: 20px;

    display: inline-block;
}

.burger__icon,
.burger__icon:before,
.burger__icon:after {
    background-color: var(--color-gray-950);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition: 0.3s left, 0.3s top, 0.3s transform;
}

.burger__icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.burger__icon:before,
.burger__icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.burger__icon:before {
    top: 7px;
    width: 20px;
    left: 5px;
}

.burger__icon:after {
    top: 14px;
}

.swiper {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: var(--color-green-400);

    .swiper-navigation {
        .swiper-pagination {
            display: flex;
            align-items: center;
            
            margin: 0 0 -3px 0px;

            span.swiper-pagination-bullet {
                opacity: 1;
                border: 2px solid var(--color-green-400);
                background: transparent;
                width: 10px;
                height: 10px;
                transition: 0.3s width, 0.3s height, 0.3 opacity ;
                margin: 0 5.5px;

                &.swiper-pagination-bullet-active {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}