.burger.is-active .burger__icon {
    transform: rotate(45deg);
    top: .4375rem;
}

.burger.is-active .burger__icon:after {
    /* opacity: 0; */
    top: 0;
    transform: rotate(-90deg);
}

.burger.is-active .burger__icon:before {
    top: 0rem;
    transform: rotate(-90deg);
    left: 0;
    width: 100%;
}

.burger__icon-wrapper {
    width: 1.5625rem;
    position: relative;
    height: 1.25rem;

    display: inline-block;
}

.burger__icon,
.burger__icon:before,
.burger__icon:after {
    background-color: var(--color-gray-950);
    border-radius: .125rem;
    width: 100%;
    height: .25rem;
    transition: 0.3s left, 0.3s top, 0.3s transform;
}

.burger__icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.burger__icon:before,
.burger__icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.burger__icon:before {
    top: .4375rem;
    width: 1.25rem;
    left: .3125rem;
}

.burger__icon:after {
    top: .875rem;
}

.swiper {
    --swiper-navigation-size: 1.5rem;
    --swiper-theme-color: var(--color-green-400);

    .swiper-navigation {
        .swiper-pagination {
            display: flex;
            align-items: center;

            margin: 0 0 -0.1875rem 0rem;

            span.swiper-pagination-bullet {
                opacity: 1;
                border: .125rem solid var(--color-green-400);
                background: transparent;
                width: .625rem;
                height: .625rem;
                transition: 0.3s width, 0.3s height, 0.3 opacity;
                margin: 0 .3438rem;

                &.swiper-pagination-bullet-active {
                    width: .875rem;
                    height: .875rem;
                }
            }
        }
    }
}


/*feedback-button*/
#feedback-button {
    &.active {
        .circle {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
}
.circular-menu {
    width: 15.625rem;
    height: 15.625rem;
    margin: 0 auto;
    position: relative;
}

.circle {
    width: 15.625rem;
    height: 15.625rem;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

 

.circle a {
    
 
    position: absolute;
   
    background-color: black;
}

 
.menu-button {
    position: absolute;
    top: calc(50% - 1.875rem);
    left: calc(50% - 1.875rem);
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    display: block;
}
 