.burger.is-active .burger__icon {
    transform: rotate(45deg);
    top: .4375rem;
}

.burger.is-active .burger__icon:after {
    /* opacity: 0; */
    top: 0;
    transform: rotate(-90deg);
}

.burger.is-active .burger__icon:before {
    top: 0rem;
    transform: rotate(-90deg);
    left: 0;
    width: 100%;
}

.burger__icon-wrapper {
    width: 1.5625rem;
    position: relative;
    height: 1.25rem;

    display: inline-block;
}

.burger__icon,
.burger__icon:before,
.burger__icon:after {
    background-color: var(--color-gray-950);
    border-radius: .125rem;
    width: 100%;
    height: .25rem;
    transition: 0.3s left, 0.3s top, 0.3s transform;
}

.burger__icon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.burger__icon:before,
.burger__icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.burger__icon:before {
    top: .4375rem;
    width: 1.25rem;
    left: .3125rem;
}

.burger__icon:after {
    top: .875rem;
}

.swiper {
    --swiper-navigation-size: 1.5rem;
    --swiper-theme-color: var(--color-green-400);

    .swiper-button-prev,
    .swiper-button-next {
        left: 5px;
        transition: 0.3s;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: calc(50% + 1px);
    }

    .swiper-button-prev {
        &:hover {
            --swiper-navigation-size: 34px;
            left: 0;
        }
    }

    .swiper-button-next {
        right: 5px;

        &:hover {
            --swiper-navigation-size: 34px;
            right: 0;
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        --size: 19.6px;
        margin: 0 2px;
        width: var(--size);
        height: var(--size);
        background: transparent;
        opacity: 1;
        transition: 0.3s;
        position: relative;

        svg {
            --size: 14px;
            transition: 0.3s;
            width: var(--size);
            height: var(--size);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            svg {
                --size: 19.6px;
                width: var(--size);
                height: var(--size);
            }
        }
    }

    .swiper-pagination-bullet-active {
        svg {
            --size: 19.6px;
            width: var(--size);
            height: var(--size);
        }

        .inner {
            stroke-dashoffset: -7.85;
            stroke-dashoffset: -15.7;
            stroke-dashoffset: -23.5;
            stroke-dashoffset: -31.4;
        }
    }
}

.bullet-svg .inner {
    transition: stroke-dashoffset 0.5s;
}



/*feedback-button*/


.circular-menu {
    &__icon {
        transition: 0.3s ease-out;
    }

    .circle {
        &__item {
            transform: translate(-50%, -50%) scale(0);
            left: 50%;
            top: 50%;
            transition: 0.4s ease-in-out;
        }
    }

    &.active {
        .circle {
            &__item {
                transform: translate(-50%, -50%) scale(1);

                &:nth-child(1) {
                    transition-delay: 0.1s;
                    left: 2.625rem;
                    top: 6.625rem;
                }

                &:nth-child(2) {
                    transition-delay: 0.2s;
                    left: .0625rem;
                    top: 5.875rem;
                }

                &:nth-child(3) {
                    transition-delay: 0.3s;
                    left: -4.1875rem;
                    top: 2.75rem;
                }

                &:nth-child(4) {
                    transition-delay: 0.4s;
                    left: -0.25rem;
                    top: -0.5625rem;
                }

                &:nth-child(5) {
                    transition-delay: 0.5s;
                    left: 2.1875rem;
                    top: -1.625rem;
                }
            }
        }

        .circular-menu__icon {
            width: 1.375rem;
        }
    }
}


























/**/
// .circular-menu {
//             position: fixed;
//             bottom: 1.875rem;
//             right: 1.875rem;
//         }

//         .menu-toggle {
//             width: 3.75rem;
//             height: 3.75rem;
//             background: #007bff;
//             border-radius: 50%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             cursor: pointer;
//             box-shadow: 0 .25rem .625rem rgba(0,0,0,0.3);
//             transition: transform 0.3s ease;
//             z-index: 1000;
//         }

//         .menu-toggle i {
//             color: white;
//             font-size: 1.75rem;
//         }

//         .menu-toggle.active {
//             transform: rotate(45deg);
//         }

//         .menu-items {
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             list-style: none;
//             padding: 0;
//             margin: 0;
//         }

//         .menu-items li {
//             position: absolute;
//             width: 3.125rem;
//             height: 3.125rem;
//             background: white;
//             border-radius: 50%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             box-shadow: 0 .25rem .625rem rgba(0,0,0,0.2);
//             transform: translate(0, 0) scale(0);
//             transition: all 0.4s ease;
//             bottom: .3125rem;
//             right: .3125rem;
//         }

//         .menu-items li a {
//             color: inherit;
//             font-size: 1.5rem;
//             text-decoration: none;
//         }

//         /* Позиции для 6 иконок */
//         .menu-items li:nth-child(1) { transition-delay: 0.05s; }
//         .menu-items li:nth-child(2) { transition-delay: 0.10s; }
//         .menu-items li:nth-child(3) { transition-delay: 0.15s; }
//         .menu-items li:nth-child(4) { transition-delay: 0.20s; }
//         .menu-items li:nth-child(5) { transition-delay: 0.25s; }
//         .menu-items li:nth-child(6) { transition-delay: 0.30s; }

//         .active + .menu-items li {
//             transform: scale(1);
//         }

//         .active + .menu-items li:nth-child(1) { transform: translate(-4.375rem, -3.125rem) scale(1); background: #1877f2; } /* Facebook */
//         .active + .menu-items li:nth-child(2) { transform: translate(-1.875rem, -5.625rem) scale(1); background: #1da1f2; } /* Twitter */
//         .active + .menu-items li:nth-child(3) { transform: translate(1.875rem, -5.625rem) scale(1); background: #e4405f; } /* Instagram */
//         .active + .menu-items li:nth-child(4) { transform: translate(4.375rem, -3.125rem) scale(1); background: #ff0000; } /* YouTube */
//         .active + .menu-items li:nth-child(5) { transform: translate(5.625rem, 0) scale(1); background: #0088cc; } /* Telegram */
//         .active + .menu-items li:nth-child(6) { transform: translate(4.375rem, 3.125rem) scale(1); background: #25d366; } /* WhatsApp */

//         .active + .menu-items li a { color: white; }

//         .menu-items li:hover {
//             transform: scale(1.2) !important;
//         }