@import "tailwindcss";

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/Comfortaa-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Comfortaa-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Comfortaa-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-Bold.woff2") format('woff2');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-Light.woff2") format('woff2');
}


@theme {
    --color-green-400: #64ff70;
    /* :hover */
    --color-green-500: #26f03a;
    /* 10% - #26f03a1a */
    --color-green-600: #3D9646;
    /* :active */
    --color-blue-100: #F5FAFF;
    --color-blue-200: #DEE6EE;
    --color-blue-300: #F4F9FE;
    --color-red-400: #F87676;
    --color-red-500: #FE3666;
    --color-gray-950: #020202;

    --font-comfortaa: "Comfortaa", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --container-6xl: calc(73.75rem + 160px);
    --container-2xl: calc(43.125rem + 40px);

    --shadow-md: 0 0 20px 0 #5656564d;
    --shadow-lg: 0 0 30px 0 #5656564d;
    --shadow-xl: 0 0 40px 0 #5656564d;

    --text-40px: 40px;
    --text-35px: 35px;
    --text-26px: 26px;
    --text-3xs: 8px;
    --text-2xs: 10px;
}

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.accordion-item {
    border: 1px solid;
    border-radius: 24px;
    padding: 8px 12px;
    background-color: aliceblue;
}
.accordion-question {
    position: relative;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
}

.accordion-question:before {
    content: "";
    position: absolute;
    top: 14px;
    right: 3px;
    width: 9px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='15' viewBox='0 0 9 15' fill='none'%3E%3Cpath d='M8.07112 8.07112C8.46164 7.6806 8.46164 7.04743 8.07112 6.65691L1.70716 0.292946C1.31664 -0.0975785 0.68347 -0.0975785 0.292946 0.292946C-0.0975785 0.68347 -0.0975785 1.31664 0.292946 1.70716L5.9498 7.36401L0.292946 13.0209C-0.0975785 13.4114 -0.0975785 14.0446 0.292946 14.4351C0.68347 14.8256 1.31664 14.8256 1.70716 14.4351L8.07112 8.07112ZM6.36401 7.36401V8.36401H7.36401V7.36401V6.36401H6.36401V7.36401Z' fill='black'/%3E%3C/svg%3E");
    transition: transform 0.3s;
}

.accordion-question_active:before {
    transform: rotate(90deg);
}

.accordion-answer {
    display: none;
}

.accordion-answer_show {
    display: block;
}